body {
  margin: -1px;
  padding-top: 0px;
  width: 100%;
  background: #85929E;
  height:100vh;
}

#navbar {
  margin-left: 3.5px;
  padding-top: 8px;
  background-color: #F4F6F6;
  position: fixed;
  width: 100%;
  opacity: 0.9;
  border: none;
  display:flex;
  justify-content: space-around;
}
ul {
  text-align: center;
  padding: 3px;
  
}
li {
  display: inline;
  
}
a {
  text-decoration: none;
  
  
}
button{
  border-radius:15px;
  background-color: #5DADE2;
  font-weight:bold;
  font-size:16px;
  color: #F4F6F7;
  text-shadow: 1px 2px 5px #474747, 2px 16px 3px rgba(28,110,164,0.02);
}
button:hover{
  background-color: #1A5276;
  color:ffffff;
  
}

#welcome-section {
  height:100vh;
  border-style: solid;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 10px 10px 10px;
  text-align: center;
  margin-top:;
  padding-top: 0px;
  background-image: url("https://scontent-ort2-1.xx.fbcdn.net/v/t1.0-9/22552618_1561375673929092_8170641133303232100_n.jpg?_nc_cat=0&oh=aa4390f20296a753fce0c11ac4f5dc68&oe=5BE1319D");
  background-repeat: no-repeat;
  min-height:100vh;
  background-position-y: center;
  background-size:cover;
}
#hello {
  margin-top: 50vh;
}
#hi{
  font-size:100px;
  font-family: Times New Roman;
  color: #B6B9B5;
  font-weight: bold;
  text-shadow: 3px 5px 2px #474747, 2px 16px 3px rgba(28,110,164,0.02);
}

#hi:hover{
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #051CFF, 0 0 55px #051CFF, 0 0 75px #FE02AE, 0 0 90px #FE02AE;
}
  

#about-container{
  margin-top:30px;
}


#about {
  margin-top: 0px;
  padding: 70px 10px 10px 10px;
  background: #F4F6F6;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border: 7px outset #75AAFF;
}

.certification {
  height: 30%;
  width: 25%;
  margin:5px;
  border: 5px ridge rgba(28,110,164,0.79);
  
}

p {
  font-size: 30px;
  line-height: 1em;
  font-family: "Times New Roman", sans;
  font-weight: 550;
}

#projects-container {
  margin-top: 30px;
}
.titles{
  margin: auto;
  display:flex;
  justify-content:space-evenly;
  width: 86%;
}
#projects {
  padding: 70px 10px 10px 10px;
  border: 7px outset #75AAFF;
  width: 80%;
  background: #F4F6F6;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;

}

.project {
  width: 30%;
  height: 70%;
  text-align: center;
  border: 5px ridge rgba(28,110,164,0.79);
  margin: 10px;

}
#contact {
  margin-top: 30px;
  background: #F4F6F6;
  border-top: 7px outset #75AAFF;
}
#contact-link{
  text-align:;
  border-style:solid;
  margin-left:auto;
  margin-right:auto;
}
.icon {
  width: 80px;
  height: 80px;
  text-align:;
} 

@media screen and (max-width: 600px) {
  #hi {
    font-size: 50px;
  }
  #about {
    font-size: 10px;
    padding: 100px 10px 10px 10px;
  }
  #projects {
    font-size: 10px;
    padding: 100px 10px 10px 10px;
  }
  .icon {
    height: 40px;
    width: 40px;
  }
  h1 {
  font-size: 18px;
  }
  h2 {
    font-size: 14px;
  }
  h3{
    font-size: 14px;
  }
}
  
